@use 'variables';
@use 'card';

@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

$isDesktop: map-get(variables.$layout, desktop);
%bg-img {
   position: fixed;
   width: 100vw;
   height: 100vw;
   min-width: 700px;
   min-height: 700px;
   max-width: 1000px;
   max-height: 1000px;
   z-index: -1;
}

*,
*::before,
*::after {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Kumbh Sans', sans-serif;
}

body {
   background-color: variables.$dark-cyan;
   min-height: 100vh;
   overflow: hidden;
   display: flex;
   justify-content: center;
   align-items: center;
}

.bg-img-top {
   @extend %bg-img;
   background-image: url('../images/bg-pattern-top.svg');
   background-size: contain;
   top: 0;
   left: 0;
   transform: translate(-65%, -60%);

   @media (min-width: 900px) {
      transform: translate(-45%, -55%);
   }
   @media (min-width: $isDesktop) {
      transform: scale(1.1) translate(-140px, -46%) !important;
   }
}

.bg-img-bottom {
   @extend %bg-img;
   background-image: url('../images/bg-pattern-bottom.svg');
   background-size: contain;
   bottom: 0;
   right: 0;
   transform: translate(65%, 50%);

   @media (min-width: 900px) {
      transform: translate(45%, 55%);
   }
   @media (min-width: $isDesktop) {
      transform: scale(1.1) translate(120px, 55%) !important;
   }
}
